{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="navigation">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a href="{% url 'index' %}">
      <img src="{% static 'images/logo2.png' %}" alt="" width="300" height="55" class="d-inline-block" />
    </a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ml-auto mx-3">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'index' %}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services.html">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projects' %}">PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'team' %}">TEAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery' %}">GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">CONTACTS</a>
        </li>
        <li class="nav-item">
          <form method=POST action="{% url 'search' %}">
            {% csrf_token %}

            <input type="search" required placeholder="Search Projects" name="q" />
            <i class="fa fa-search"></i>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="single-service padding">
  <div class="container-md">
    <br /><br />
    <h3>
      {{service.name}}
    </h3>
    <hr />
    <br /><br />
    <p class="lead">
      {{service.description}}
    </p>
  </div>
</div>

{% endblock content %}