{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="navigation">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/svlogo.png' %}" alt="" width="300" height="55" class="d-inline-block" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-auto mx-3">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'index' %}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services' %}">SERVICES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'projects' %}">PROJECTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'gallery' %}">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">CONTACTS</a>
                    </li>
                    <li class="nav-item">
                        <form method=POST action="{% url 'search' %}">
                            {% csrf_token %}

                            <input type="search" required placeholder="Search Projects" name="q" />
                            <i class="fa fa-search"></i>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br><br><br>

<!---- Team ------------------------------------------------------------------------------------------------------------------------------------------------------>
<div class="team padding" id="scrollspyHeading1">
    <div class="container-md">
        <h1>Our Management Team</h1>
        <br />
        <p>
            Smart Vision is steered by a strong management team that comprise of the following experts:.
        </p>
    </div>
</div>

<div class="member container-md">
    <div class="row justify-content-center">
        {% for member in members %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{member.photo.url}}" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5>{{member.name}}</h5>
                    <p>{{member.title}}</p>

                    <div id="btn">
                        <a href="{% url 'profile' member.id %}"><span class="noselect">Read More</span></a>
                        <div id="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
</div>

<div class="team padding" id="scrollspyHeading1">
    <div class="container-md">
        <h1>Our Associates Team</h1>
        <br />
        <p>
            In addition to our core team members,Smart Vision also has a large pool of associates in different areas of
            specialization who we work with for specific assignments. Below is a list of our associates
        </p>
    </div>
</div>

<div class="member container-md">
    <div class="row justify-content-center">
        {% for associate in associates %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{associate.photo.url}}" class="card-img-top" alt="" />
                <div class="card-body">
                    <h5>{{associate.name}}</h5>
                    <p>{{associate.title}}</p>

                    <div id="btn">
                        <a href="{% url 'profile' associate.id %}"><span class="noselect">Read More</span></a>
                        <div id="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div> -->

<br><br>
<!----End of Team ------------------------------------------------------------------------------------------------------------------------------------------------------>

{% endblock content %}